.body {
    background: #6d2ce67c;
    font: normal 15 pt Arial;
}

.header {
   color: #ffffffff;
   text-align: center;
}

.section {
    background: #ffffffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #00000063;
}

.mensagem {
    color: #851212;
    text-align: center;
}

.img {
    margin-left: -20px;
    text-align: center;
}

.footer {
    color: #ffffffff;
    text-align: center;
    font-style: italic;
}