.body {
    background: #6d2ce67c;
    font: normal 15 pt Arial;
}

.header {
   color: #ffffff;
   text-align: center;
   font-size: 2rem;
}

.section {
    background: #ffffffff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #00000063;
}

.footer {
    color: #ffffffff;
    text-align: center;
    font-style: italic;
}